Source: wb-softpwm
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-softpwm
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto, python-wb-io
Description: MQTT driver for softpwm (fan control). Alpha version
